<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdqn.erp.mapper.LogMapper">

    <!--    <select id="getLog" resultType="com.bdqn.erp.entity.Log">-->
    <!--        select * from sys_log where id in-->
    <!--        <foreach collection="list" item="item" index="index" open="("   separator="," close=")">-->
    <!--            #{item}-->
    <!--        </foreach>-->
    <!--    </select>-->
    <select id="getLog" resultType="com.bdqn.erp.entity.Log">
        select * from sys_log  ${ew.customSqlSegment}
    </select>
    <select id="getLogs" resultType="com.bdqn.erp.entity.Log">
        select * from sys_log
        <where>
            <if test="loginname !=null and loginname != '' ">
                and loginname like concat("%",#{loginname},"%")
            </if>
            <if test="type !=null and type !=''">
                and type like concat("%",#{type},"%")
            </if>
        </where>
    </select>


</mapper>
